<footer class="footer">
<div class=container>
    <div class="contact">
        <h3>Contact</h3>
    <div class="img">
        <img src="img/skyline.png">
        <img src="img/mobile.png">
        <img src="img/email.png">
    </div>
    <div class="img-txt">
        <p>4321 Street
            City, Country
            (999) 123-4567
            mail@domain.com</p>
    </div>
    </div>
    <div class="send-message">
        <h3>Send a message</h3>
        <div class="name-email">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Message">
            <button type="submit">Send <img src="img/paper-plane.png"></button>
        </div>
    </div>
    <div class="social">
        <a href="#"><img src="img/Path 204@2x.png"></a>
        <a href="#"><img src="img/Path 203@2x.png"></a>
        <a href="#"><img src="img/youtube@2x.png"></a>
    </div>
</div>
</div>
</footer>
<script src="js/all.js"></script>
</body>
</html>
