<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://use.fontawesome.com/27cc09dc75.js"></script>
    <title>Startup Marketing</title>
  </head>
<body>
    <header class="header">
        <div class="container">
            <partial src="navigation.html"></partial>
            <div class="header-content"></div>
            <h1>High-performance<span>Marketing</span></h1>
            <img src="img/OBJECTS@2x.png">
        </div>
    </header>
